.App {
text-align: center;
}

  .app_width {
  display:flex;
  }

  .app_color {
  background-color:skyblue;
  padding:20px;
  }

  .app_color_white {
  background-color: white;
  padding:10px;
  display:flex;
  width:300px;
  }