#maincolor {
  /* 메인컬러 1 */
  color:#0094EE;
  /* 메인컬러 2 */
  color:#878A8F;
  /* 메인컬러 3 */
  color:#EFEFEF;
  /* 메인컬러 4 */
  color:#F5CC1F;
  /* 배달긱글씨색 */
  color:#231815;
  /* 배경색 */
  color:#0F1839;
}