.main_logo_image {
  width:200px;
  height:200px;
  padding-bottom:20px;
}

.button_style {
  padding-left:30px;
  padding-bottom:20px;
  text-align:start;
  background-color : transparent;
  border: 0;
  outline:0;
  color: white;
  font-size:15px;
  display: flex;
  align-items: center;
}

.main_frame_logo_image {
  width:30px;
  height:30px;
}

.main_display_flex {
  display:flex;
}

.main_display_flex_direction_col {
  display:flex;
  flex-direction: column;
}

.main_justify_content_space_between {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #878A8F;
}

.main_content {
  background-color: aqua;
}