.login_page {
  background-color: #0F1839;
  height:100%;
  display: flex;
  align-items: center;
}

.login_image_login_flex {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.login_main_image_div {
  width:60%;
  height:100%;
}

.login_main_image {
  position:relative;
  top:50%;
  left:50%;
  width:50%;
  transform: translate(-50%, -50%);
}

.login_box {
  width:40%;
  height:100%; 
  background-color:white;
  display:flex;
  flex-direction:column;
  padding : 3% 3%;
  box-sizing: border-box;
  text-align: center;
  font-family: 'BMJUA';
  font-size:2rem;
}