.background{
    display:flex;
    flex-direction : row;
    width:100%;
    height:100%;
    font-family: "NanumSquareNeo-Variable";
}

.userListLayout{
    background-color: white;
    display :flex;
    flex-direction: column;
    width:28%;
    height:100%;
    align-items: center;
    border-radius: 30px;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    color:black;
    border: 3px solid #0F1839;
    margin-right: 30px;
}
.userListLayout::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.userList{
    display :flex;
    margin: 10px;
    margin-top: 20px;
}

.userListName {
    display:flex;
    /* background-color:; */
    font-size: 25px;
    margin-bottom: 5px;
}
.userListPhone {

    font-size: 20px;
}

.chatLayout {
    display:flex;
    flex-direction: row;
    width:100%;
    height:100%;

}

.chatheadder{
    height:10%;
    background-color: #0F1839;
    color:#F5CC1F;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
}

.chatRoomLayout2{
    /* background-color: red; */
    width:50%;
    height:100%;
    margin-right: 20px;
    border: 3px solid #0F1839;
    border-radius: 30px;
    /* background-color: red; */

}
.chatRoomLayout{
    display : flex;
    flex-direction: column;
    width:100%;
    height:79%;

}

.chatOutDiv {
    height:100%;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    /* background-color: red; */
}

.chatOutDiv::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.chatRoomListLayout{
    /* background-color: green; */
    display:flex;
    flex-direction : column;
    width:50%;
    height:100%;
    border-radius: 30px;
    margin-right: 0px;
    border: 3px solid #0F1839;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.chatRoomListLayout::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.chatRoomList{
    display: flex;
    flex-direction: row;
    margin-left:20px;
    margin-top:5px;
    margin-bottom: 5px;
    width:90%;
    display:flex;
    /* background-color: green; */
    border: 2px solid #0F1839;
    border-radius: 10px;
    /* background-color: green; */
}

.testDiv {
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.testDiv::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}




/* 여기서부터 체크시작 */

.myChatComponent{
    /* margin-left:10px; */
    /* width:100%; */
    display :flex;
    justify-content: end;
    padding-right:10px;
    padding-left:10px;
    /* background-color: green; */
}

.otherChatComponent {
    width:100%;
    display :flex;
    /* flex-direction : 'row'; */
    justify-content: start;
    padding-right:10px;
    /* margin-left:10px; */
    /* padding-left:10px; */
    /* margin-left:10px; */
    /* background-color: yellow; */
}

.otherChatProfile{

}

.noticeChatLayout{
    display:flex;
    justify-content: center;
    width:100%;
    /* background-color: GREEN; */
    /* margin-right:10px; */
}

.otherChatName {
    margin-left : 2%;
    padding-left :2%;
    font-weight: bold;
}
.noticeChat {
    display :flex;
    margin : 1%;
    align-items: center;
    /* background-color: #F5CC1F; */
}
.myChat {
    /* display: flex;
    justify-content: end;  */
    /* display: flex; */
    /* justify-content: end; */
    background-color: #F5CC1F;
    /* text-align: end; */
    border-radius :10px;
    width:100%;
    margin-top: 10px;
    padding-top:10px;
    margin-bottom: 10px;
    padding-bottom:10px;
    color:black;
    /* margin-left:10px; */
    /* padding-right:10px; */
    
    /* margin : 5%;
    padding : 7%;
    max-width: 100%; */
}
.otherChat{
    /* background-color : blue; */
    background-color: #0F1839;
    box-sizing: border-box;
    /* border: 2px solid #0F1839; */
    border-radius :10px;
    /* padding-left:10px; */
    /* margin-left:10px; */
    width:100%;
    margin-top: 10px;
    padding-top:10px;
    margin-bottom: 10px;
    padding-bottom:10px;
    /* padding-right:10px; */
    margin-left:10px;
    /* max-width: 100%;
    margin : 5%;
    padding : 7%; */
}
.noticeChatText {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
    color: #0F1839;
    font-weight: bold;
    /* background-color: red; */
    width:100%;
    /* margin-left:"20px" */
}

.myChatText{
    /* background-color: #F5CC1F; */
    color: #0F1839;
    margin-right: 10px;
    margin-left:5px;
}
.otherChatText{
    color :#EFEFEF;
    margin-left: 10px;
    margin-right:5px;
}

/* 여기서 체크 마무리 */

.bottomContainer {
    flex-direction: row;
    /* background-color: aqua; */
    /* margin-bottom: 10px; */
    position: relative;
    bottom:0;
    justify-content: center;

}



.messageInput {

}
.createModal{
    margin-right: 1.5%;
    width:33%;
    height:100%;
    /* display:flex; */
    /* background-color: aqua; */
    /* justify-content: center; */
    background-color: 'rgba(0,0,0,0.7)',
}
.modalView {
    width:100%;
    height:100%;
    /* background-color: red; */
    /* margin :20; */
    /* background-color: black; */
    border: 3px solid #0F1839;
    border-radius:30px;
}

.createRoomNameLayout{
    width:100%;
    height:85%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.createRoomNameLayout::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.createRoomNameLayout2{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width:100%;
    height:100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* background-color: aqua; */
}

.createRoomNameLayout2::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.createChatListStyle2 {
    display :flex;
    flex-direction: row;
    width:100%;
    height:100%;
    align-items: center;
    /* justify-content: "center"; */
    justify-content: start;
    /* margin-left:12%; */
    /* background-color: blue; */
    /* border: 1px solid black; */
    margin-top:10px;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    /* background-color: #F5CC1F; */

    /* padding :2%; */
    /* margin :1%; */
    /* border-bottom-left-radius: 10px; */
    /* border-top-right-radius: 10px; */
}

.createChatListStyle2::-webkit-scrollbar{
    display: none; /* Chrome, Safari, Opera*/
} 
.createChatListStyle {
    display :flex;
    flex-direction: row;
    width:100%;
    height:100%;
    align-items: "center";
    /* justify-content: "center"; */
    justify-content: start;
    margin-left:12%;
    /* background-color: blue; */
    /* border: 1px solid black; */
    margin-top:10px;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    /* padding :2%; */
    /* margin :1%; */
    /* border-bottom-left-radius: 10px; */
    /* border-top-right-radius: 10px; */
}

.createChatListStyle::-webkit-scrollbar{
    display: none; /* Chrome, Safari, Opera*/
} 
.userListDetailText{
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* font-weight: bold; */
}
.userListDetailText2{
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* font-weight: bold; */
}
.userListDetailCheckBox{
    display :flex;
    flex-direction: row;
    justify-content : flex-end;
}
.buttonStyle{
}


.buttonLayout{
    width:100%;
    flex-direction:  row;
    justify-content : flex-end;
}

.image {
    width:100;
    height:100;
}