.background{
    display:flex;
    flex-direction : row;
    width:100%;
    height:100%;
}

.userListLayout{
    background-color: white;
    display :flex;
    flex-direction: column;
    width:25%;
    height:100%;
    align-items: center;
    border-radius: 30px;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    color:black;
    border: 3px solid #0F1839;
    margin-right: 30px;
}
.userListLayout::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.userList{
    display :flex;
    margin: 10px;
    margin-top: 20px;
}

.userListName {
    display:flex;
    /* background-color:; */
    font-size: 25px;
    margin-bottom: 5px;
}
.userListPhone {

    font-size: 20px;
}

.chatLayout {
    display:flex;
    flex-direction: row;
    width:100%;
    height:100%;

}
.chatRoomLayout{
    /* background-color: red; */
    border: 3px solid #0F1839;
    display : flex;
    flex-direction: column;
    width:48%;
    height:100%;
    border-radius: 30px;
    margin:auto;
}

.chatRoomListLayout{
    background-color: green;
    display:flex;
    flex-direction : column;
    width:48%;
    height:100%;
    border-radius: 30px;
    margin:auto;
}
.chatRoomList{
    display:flex;
}


.myChatComponent{
    display :flex;
    flex-direction: 'row-reverse';
}

.otherChatComponent {
    display :flex;
    flex-direction : 'row';
}

.otherChatProfile{

}

.noticeChatLayout{
    display:flex;
}

.otherChatName {
    margin-left : 2%;
    padding-left :2%;
    font-weight: bold;
}
.noticeChat {
    display :flex;
    margin : 1%;
    align-items: center;
}
.myChat {
    background-color: #58ACFA;
    border-radius :10%;
    margin : 5%;
    padding : 7%;
}
.otherChat{
    background-color : white;
    border-radius :10%;
    margin : 5%;
    padding : 7%;
}
.noticeChatText {
    color: #BDBDBD;
    font-weight: bold;
}

.myChatText{
    color: white;
}
.otherChatText{
    color :black;
}

.bottomContainer {
    flex-direction: row;
    background-color: aqua;
}

.messageInput {

}
.createModal{
    display:flex;
    justify-content: center;
    background-color: 'rgba(0,0,0,0.7)',
}
.modalView {
    margin :20;
    background-color: white;
}

.createRoomNameLayout{
    margin : 10;
    align-items: center;
}
.createChatListStyle {
    display :flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #F5CC1F;
    padding :2%;
    margin :1%;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}
.userListDetailText{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10%;
    font-weight: bold;
}
.userListDetailCheckBox{
    display :flex;
    flex-direction: row;
    justify-content : flex-end;
}
.buttonStyle{
}


.buttonLayout{
    flex-direction:  row;
    justify-content : flex-end;
}

.image {
    width:100;
    height:100;
}