.main_component {
  background-color: blue;
  color:white;
  display: flex;
}

.menu_header_after {
  box-shadow: inset 100rem 0px 0px #0094EE;
  border-radius: 0px 20px 20px 0px;
  padding:20px;
  margin: 15px 30px 15px 0px;
  color:white;
  font-family: "BMJUA";
  font-size:30px;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 2s cubic-bezier(.5, .24, 0, 1);
  transition: all 2s cubic-bezier(.5, .24, 0, 1);
}

.menu_header_before {
  box-shadow: inset 0px 0px 0px #0094EE;
  border-radius: 0px 20px 20px 0px;
  padding:20px;
  margin: 15px 30px 15px 0px;
  color:white;
  font-family: "BMJUA";
  font-size:30px;
  align-items: center;
  justify-content: center;
}