.main_logo_image {
  width:170px;
  height:170px;
  padding-bottom:20px;
  margin:20px;
}

.button_style {
  padding-left:20px;
  padding-top:10px;
  padding-bottom:10px;
  text-align:start;
  background-color : transparent;
  box-shadow: inset 0px 0px 0px white;
  color:white;
  border: 0;
  outline:0;
  font-size:20px;
  display: flex;
  align-items: center;
  font-family: 'BMHANNAAir';
  -webkit-transition: all 1s cubic-bezier(.5, .24, 0, 1);
  transition: all 1s cubic-bezier(.5, .24, 0, 1)
}

.button_style:hover {
  border-radius: 0px 10px 10px 0px;
  margin-right:20px;
  box-shadow: inset 300px 0px 0px white;
  color:black;
  font-weight: bold;
}

.button_style_pick {
  padding-left:20px;
  padding-top:10px;
  padding-bottom:10px;
  text-align:start;
  background-color : transparent;
  border-radius: 0px 10px 10px 0px;
  margin-right:20px;
  box-shadow: inset 300px 0px 0px #F5CC1F;
  color:black;
  font-weight: bold;
  border: 0;
  outline:0;
  font-size:20px;
  display: flex;
  align-items: center;
  font-family: 'BMHANNAAir';
  -webkit-transition: all 1s cubic-bezier(.5, .24, 0, 1);
  transition: all 1s cubic-bezier(.5, .24, 0, 1)
}

.main_frame_logo_image {
  width:30px;
  height:30px;
  justify-content: center;
}

.main_display_flex {
  display:flex;
}

.main_display_flex_direction_col {
  display:flex;
  flex-direction: column;
}

.main_justify_content_space_between {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #0F1839;
  width:220px;
  height:100vh;
}

.main_content {
  background-color: aqua;
}